@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: black;
  transition: background 0.4s;
  overscroll-behavior: contain;
}

#countdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transform: rotate(-90deg);
  position: relative;
}

#track {
  stroke: black;
  fill: none;
  stroke-width: 50;
}

#progress {
  stroke: rgb(54, 59, 54);
  fill: none;
  stroke-width: 30;
  stroke-dasharray: var(--outlineLength);
  stroke-dashoffset: var(--outlineLength);
  animation: dash var(--progess) s;
  transition: stroke-dasharray 1s linear, stroke-dashoffset 1s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#timeOptionsContainer {
  display: flex;
  font-size: 10vw;
  color: rgb(105, 116, 105);
  justify-content: center;
}

.timeOptionsWrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  overflow: auto;
}

.timeOption:not(.main, .next, .next-next, .prev, .prev-prev) {
  padding: 1vw;
  display: inline-block;
  transition: 0.5s;
  display: none;
}

.timeOption.main {
  transform: scale(1);
}

.timeOption.next {
  transform: scale(0.8);
}

.timeOption.next-next {
  transform: scale(0.6);
}

.timeOption.prev {
  transform: scale(0.8);
}

.timeOption.prev-prev {
  transform: scale(0.6);
}

#timeToggle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15vw;
  color: rgb(105, 116, 105);
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
  height: 51%;
  width: 51%;
  position: absolute;
  rotate: 90deg;
}

#countdown.outOfTime #timeToggle,
#countdown.outOfTime #progress {
  color: rgb(207, 25, 80);
  stroke: rgb(207, 25, 80);
}

/* TO DO

*/
