@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
}

#timer {
  background: rgb(11, 162, 227);
  margin: 0;
  border-radius: 1rem;
  padding: 10rem;
  position: absolute;
  text-align: center;
  min-width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#timer.outOfTime {
  background-color: rgb(207, 25, 80);
}

#countdown {
  font-size: 50px;
  color: white;
}

#countdown:before {
  visibility: hidden;
}

#countdown:after {
}

#timeToggle {
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
  width: 100%;
}
